# New API

In [20]:
import requests
import os
import json

def find_mbid(artist_name):
    #content > table > tbody > tr:nth-child(1) > td > a > bdi  ---- Artist Name
    #content > table > tbody > tr:nth-child(2) > td > code -------- Artist ID

In [21]:
# entity options: area, artist, event, instrument, label, place, recording, release, release-group, series, work, url
def artist_location(mbid):
    url = f"http://musicbrainz.org/ws/2/artist/{mbid}?inc=aliases&fmt=json"
    res = requests.get(url)
    data = res.json()
    return data['area']['name']

In [22]:
artist_location("b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d")

'United Kingdom'

## Top artists: 
Elton John          (12)  
Queen               (11)  
ABBA                (9)  
The Beatles         (7)  
Barbra Streisand    (6)

In [23]:
top_artists = {"Elton John":"b83bc61f-8451-4a5d-8b8e-7e9ed295e822",
"Queen":"0383dadf-2a4e-4d10-a46a-e9e041da8eb3",
"ABBA":"d87e52c5-bb8d-4da8-b941-9f4928627dc8",
"The Beatles":"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d",
"Barbra Streisand":"56cd15a1-0d74-438b-8244-c96ffe1cae03", 
"Rihanna":"73e5e69d-3554-40d8-8516-00cb38737a1c",
"Whitney Houston":"0307edfc-437c-4b48-8700-80680e66a228",
"Mariah Carey":"494e8d09-f85b-4543-892f-a5096aed1cd4",
"Post Malone":"b1e26560-60e5-4236-bbdb-9aa5a8d5ee19",
"Taylor Swift":"20244d07-534f-4eff-b4d4-930878889970"
}

In [24]:
for key, value in top_artists.items():
    top_artists[key] = artist_location(value)

In [25]:
top_artists

{'Elton John': 'United Kingdom',
 'Queen': 'United Kingdom',
 'ABBA': 'Sweden',
 'The Beatles': 'United Kingdom',
 'Barbra Streisand': 'United States',
 'Rihanna': 'New York',
 'Whitney Houston': 'United States',
 'Mariah Carey': 'United States',
 'Post Malone': 'United States',
 'Taylor Swift': 'United States'}

In [26]:
import pandas as pd
import numpy as np
alldecades = pd.read_csv('output/music_decades.csv')

In [27]:
alldecades

,Unnamed: 0,Number,Title,Artist,Genre,Year,Dance,Positiveness,Duration,Popularity
0,0,1,Put Your Head On My Shoulder,Paul Anka,adult standards,1950,55,47,155,72
1,1,2,Whatever Will Be Will Be (Que Sera Sera) (with...,Doris Day,adult standards,1950,42,78,123,62
2,2,3,Everybody Loves Somebody,Dean Martin,adult standards,1950,26,40,162,61
3,3,4,Take Good Care Of My Baby - 1990 Remastered,Bobby Vee,adult standards,1950,49,66,151,60
4,4,5,A Teenager In Love,Dion & The Belmonts,adult standards,1950,56,62,158,60
...,...,...,...,...,...,...,...,...,...,...
662,95,96,Stereo Hearts (feat. Adam Levine),Gym Class Heroes,dance pop,2010,65,80,211,56
663,96,97,Dynamite,Taio Cruz,dance pop,2010,76,87,203,56
664,97,98,Break Your Heart,Taio Cruz,dance pop,2010,67,68,185,54
665,98,99,Summer Air,ItaloBrothers,dance pop,2010,76,49,184,43
666,99,100,All I Wanna Do,Martin Jensen,big room,2010,73,56,194,32

In [29]:
alldecades['Country'] = alldecades['Artist'].map(top_artists)

In [31]:
alldecades['Country'].value_counts().head(10)

United Kingdom    30
United States     27
Sweden             9
New York           6
Name: Country, dtype: int64

In [33]:
alldecades

,Unnamed: 0,Number,Year,Dance,Positiveness,Duration,Popularity
count,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000
mean,47.718141,48.718141,1981.064468,60.325337,57.311844,224.002999,63.349325
std,28.414748,28.414748,19.488359,15.051583,24.400412,59.742591,13.725845
min,0.000000,1.000000,1950.000000,18.000000,6.000000,98.000000,26.000000
25%,23.000000,24.000000,1960.000000,51.000000,39.000000,185.000000,56.000000
50%,47.000000,48.000000,1980.000000,62.000000,58.000000,218.000000,66.000000
75%,71.000000,72.000000,2000.000000,71.000000,78.000000,254.000000,73.500000
max,104.000000,105.000000,2010.000000,96.000000,99.000000,511.000000,94.000000

In [54]:
def results_by_year(column, year): 
    decade = alldecades.loc[alldecades['Year'] == year]
    return decade[f'{column}'].value_counts().head(10)

In [61]:
results_by_year("Popularity", 2000)

73    8
77    8
74    7
72    6
70    6
60    5
76    5
71    5
63    5
65    4
Name: Popularity, dtype: int64

In [ ]:
def results_by_popularity(column): 
    return alldecades[f'{column}'].value_counts().head(10)

Elton John          12
Queen               11
ABBA                 9
The Beatles          7
Rihanna              6
Barbra Streisand     6
Whitney Houston      6
Mariah Carey         5
Taylor Swift         5
Post Malone          5
Name: Artist, dtype: int64

In [62]:
alldecades

,Unnamed: 0,Number,Title,Artist,Genre,Year,Dance,Positiveness,Duration,Popularity,Country
0,0,1,Put Your Head On My Shoulder,Paul Anka,adult standards,1950,55,47,155,72,NaN
1,1,2,Whatever Will Be Will Be (Que Sera Sera) (with...,Doris Day,adult standards,1950,42,78,123,62,NaN
2,2,3,Everybody Loves Somebody,Dean Martin,adult standards,1950,26,40,162,61,NaN
3,3,4,Take Good Care Of My Baby - 1990 Remastered,Bobby Vee,adult standards,1950,49,66,151,60,NaN
4,4,5,A Teenager In Love,Dion & The Belmonts,adult standards,1950,56,62,158,60,NaN
...,...,...,...,...,...,...,...,...,...,...,...
662,95,96,Stereo Hearts (feat. Adam Levine),Gym Class Heroes,dance pop,2010,65,80,211,56,NaN
663,96,97,Dynamite,Taio Cruz,dance pop,2010,76,87,203,56,NaN
664,97,98,Break Your Heart,Taio Cruz,dance pop,2010,67,68,185,54,NaN
665,98,99,Summer Air,ItaloBrothers,dance pop,2010,76,49,184,43,NaN
666,99,100,All I Wanna Do,Martin Jensen,big room,2010,73,56,194,32,NaN

In [70]:
def results_by_year(df, column, year): 
    decade = df.loc[df['Year'] == year]
    return (f"The top {column}s within in the {year}'s are:'"), (decade[f'{column}'].value_counts().head(10))

results_by_year(alldecades, "Artist", "1950")

("The top Artists within in the 1950's are:'",
 Series([], Name: Artist, dtype: int64))

In [66]:
def atributes(col)
    return alldecades.groupby("Year").agg({f"{col}":"mean"})

      Positiveness
Year
1950     57.589041
1960     57.391753
1970     62.942308
1980     63.123810
1990     55.863636
2000     57.310000
2010     46.350000

In [ ]:
['Dance', 'Positiveness', 'Popularity']